<h2>About</h2>


<%= image_tag("https://i.ibb.co/DGssmCq/kate.png", alt: "Avatar of Kate", class: "card-img-top") %>

<%= image_tag("https://i.ibb.co/fd6w6JV/kim.png", alt: "Avatar of Kim", class: "card-img-top") %>

<%= image_tag("https://i.ibb.co/DpvPBD2/sopheary.png", alt: "Avatar of Sopheary", class: "card-img-top") %>

<%= image_tag("https://i.ibb.co/qjByvfT/steph.png", alt: "Avatar of Stephanie", class: "card-img-top") %>


