<h2>About</h2>

<div class=container>
<article class="main-content">
  <div class="card-deck">
    <div class="card bg-light">
      <%= image_tag("https://i.ibb.co/DGssmCq/kate.png", alt: "Avatar for Kate Sandler", class: "card-img-top") %>
      <div class="card-body">
      <h5 class="card-title">Kate Sandler</h5>
        <div class="card-text">
        <p>Kate Sandler is fueled by her passion for understanding the nuances of all things 
        tiny. She considers herself a ‘mini die-hard,’ eager to both build on her 
        academic foundations in itsyology and stay in tune with the latest 
        miniature marketing strategies through continued coursework and professional development.</p>
        </div>
      </div>
    </div>

     <div class="card bg-light">
      <%= image_tag("https://i.ibb.co/fd6w6JV/kim.png", alt: "Avatar of Kim", class: "card-img-top") %>
      <div class="card-body">
      <h5 class="card-title">Kim Fasbender</h5>
        <div class="card-text">
        <p>Kim Fasbender is fueled by her passion for understanding the nuances of all things 
        tiny. She considers herself a ‘mini die-hard,’ eager to both build on her 
        academic foundations in itsyology and stay in tune with the latest 
        miniature marketing strategies through continued coursework and professional development.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="card-deck">
     <div class="card bg-light">
      <%= image_tag("https://i.ibb.co/DpvPBD2/sopheary.png", alt: "Avatar of Sopheary", class: "card-img-top") %>
      <div class="card-body">
      <h5 class="card-title">Sopheary Chiv</h5>
        <div class="card-text">
        <p>Sopheary Chiv is fueled by her passion for understanding the nuances of all things 
        tiny. She considers herself a ‘mini die-hard,’ eager to both build on her 
        academic foundations in itsyology and stay in tune with the latest 
        miniature marketing strategies through continued coursework and professional development.</p>
        </div>
      </div>
    </div>

    <div class="card bg-light">
      <%= image_tag("https://i.ibb.co/qjByvfT/steph.png", alt: "Avatar of Stephanie", class: "card-img-top") %>
      <div class="card-body">
      <h5 class="card-title">Stephanie Marchante</h5>
        <div class="card-text">
        <p>Stephanie Marchante is fueled by her passion for understanding the nuances of all things 
        tiny. She considers herself a ‘mini die-hard,’ eager to both build on her 
        academic foundations in itsyology and stay in tune with the latest 
        miniature marketing strategies through continued coursework and professional development.</p>
        </div>
      </div>
    </div>

  </div>
</article>
</div>








