<section class="carousel">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="http://i64.tinypic.com/ra6x6r.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.pexels.com/photos/1061581/pexels-photo-1061581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.pexels.com/photos/1073776/pexels-photo-1073776.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<br>
<hr>
<br>

<section id="#featured-section">
  <h1 class="featured-products">Featured Products</h1>

  <div class="container">
   <div>
     <img src="http://i63.tinypic.com/zkivs6.jpg" alt="itsy-tarts" height="225" width="271">
      <p>Itsy Product #1</p>
      <p class="featured-merchant">Kate</p>
   </div>
   <div>
     <img src="http://i63.tinypic.com/zkivs6.jpg" alt="itsy-tarts" height="225" width="271">
      <p>Itsy Product #2</p>
      <p class="featured-merchant">Kim</p>
   </div>
   <div>
     <img src="http://i63.tinypic.com/zkivs6.jpg" alt="itsy-tarts" height="225" width="271">
      <p>Itsy Product #3</p>
      <p class="featured-merchant">Sopheary</p>
   </div>
   <div>
     <img src="http://i63.tinypic.com/zkivs6.jpg" alt="itsy-tarts" height="225" width="271">
       <p>Itsy Product #4</p>
       <p class="featured-merchant"><%= link_to "Steph", merchants_path %></p>
   </div>
  </div>
</section>

<br>
<br>
<br>
<br>

<section class="slogan-box">
  <img src="http://i68.tinypic.com/15eyem8.png" alt="itsy slogan">
  <div class="about-itsy">
    <h2 class="whats-itsy">Our Mini Motive</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a class="btn btn-primary" href="/about">About Us</a>
  </div>
</section>

<br>
<hr>
<br>

<section class="featured-categories-box">
  <h1 class="featured-cat-title">Featured Categories</h1>
  <div class="featured-categories">
    <div class="card-deck">
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">Tiny Treats</h4>
              <p class="card-text">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1266/2757/products/DSC_0810_900x.JPG?v=1538771425" alt="Card image cap">
              </p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOP NOW</button>
          </div>
        </div>

    <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">Bitsy Baubles</h4>
            <p class="card-text">
              <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1266/2757/products/DSC_0810_900x.JPG?v=1538771425" alt="Card image cap">
            </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">SHOP NOW</button>
        </div>
  </div>
</section>


<br>
<hr>
<br>

<section>


</section>