<div class="banner">
  <img src="http://i66.tinypic.com/2a9xmc8.png"  alt="Smiley face">
</div>

<br>
<hr>
<br>

<div class="button-container">
  <%= link_to "Click To Shop", products_path, class: "btn btn-primary" %>
</div>