<h2><%=@merchant.username%></h2>
<p><%= @merchant.created_at.strftime("Joined the Itsyverse in %B %Y")%></p>


<% if @merchant.id == session[:user_id] %>
  <ul>
    <li>
      <%= link_to "Add an Itsy Product", new_product_path %>
    </li>
    <li>
      <%= link_to "Add an Itsy Category", new_category_path %> 
    </li>
    <li>
      Order Summary
    </li>
  </ul>   

<% end %>