// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* Empty Cart */
.empty-head {
  padding-top: 5%;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.button-container {
  text-align: center;
}