<article class="container main-article">
<div class="category-container">
  <h1 class="category-heading">Itsy Categories</h1>
  <% @categories.each do |category| %>
    <ul class="list-type4">
      <li class="category-link"><%=link_to category.name, category_path(category.id) %></li>
    </ul>
  <% end %>
</div>
</article>
