<div class="category-container">
  <h2 class="category-heading">Itsy Categories</h2>
  <% @categories.each do |category| %>
    <ul class="list">
      <li><%=link_to category.name, category_path(category.id) %></li>
    </ul>
  <% end %>
</div>
