<article class="review-main">
  <h2> Create a new category </h2>

  <%= form_with model: @category, url: categories_path do |f|%>

    <div class="form-group">
      <%= f.label :new_category %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit 'Create category', class: "btn btn-primary" %>
  <% end %>
</article>
