<article class="main-content">
  <div class="card-columns">
    <% product_list.each do |product|%>
      <div class="card bg-light">
        <%= image_tag("https://robohash.org/" + product.name, alt: product.name, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to "#{product.name}", product_path(product.id) %></h5>
          <div class="card-text">
          Sold by: <%= link_to "#{product.merchant.username}", merchant_path(product.merchant.id)%><br>
          $<%= "#{product.price}" %><br>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</article>