<article class="main-content container-fluid">
  <div class="row">
    <section class="col-sm-8 product-show">
      <h2><%= @product.name %></h2>
      <p>
        <%= image_tag("https://img.omdfarm.co.uk//images/1/5af9d353b2b83.jpg") %>
      </p>
      <p><%= @product.description%></p>
      <p><h4><strong>Price: <%= @product.price %></strong></h4></p>
    </section>
  </div>
</article>